
.alert-message .first-span{
    font-size: 01rem;
    color: rgb(59, 130, 246);
    position: absolute;
    top: 30px;
    left: -15px;
}
.alert-message .second-span i{
    font-size: 5rem;
   
}
.alert-message .third-span {
    font-size: 0.5rem;
    font-size: 400;
    color: #eb7a42;
    width: 110px;
    border-radius: 40px;
    background-color: white;
    padding: 0.6rem 0.8rem;
    padding-top: 1rem;
    position: absolute;
    border: 2px solid rgb(59, 130, 246);
    display:inline
    
}