.stats-wrapper {
  max-width: 1366px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 10rem;
  padding: 2rem 0;
  background-color: #ffffff;
}

.stat-card {
  text-align: center;
  flex: 1;
}

.stat-card h3 {
  font-size: 2rem;
  color: #3b82f6; /* Sea Blue */
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}
.stat-card i{
    color: #eb7a42;
    font-size: 2rem;
    font-weight: bolder;
}

.stat-card p {
  font-size: 1.1rem;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

@media(max-width: 420px){
  .stats-wrapper {
  gap: 1rem 3rem;
}
  .stat-card h3{
    font-size: 1.5rem;
  }
}